/*Setting global variable colours to use them often*/
:root{
    --colorRed:red;
}

body{
   /* background-color: #212121;
    color: #ffffff; */
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
}

/*******START*******STYLING THE HEADER*******START*******/
header{
    background-color: black;
    color: #ffffff;
}
.website-header{
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}
.website-header #logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 30px;
}
.website-header h1{
    margin: auto 0; /*Vertically centered*/ 
}
.website-header .social-icons{
     text-align: right;
     flex-grow: 1;  /*Expand till the end | Used together with text align*/
}
.social-icons i{
    margin: 0 7px;
    cursor: pointer;
}
/*******END*******STYLING THE HEADER*******END*******/

/*******START*******STYLING THE NAVBAR*******START*******/
nav{
    height: 50px;
    margin-bottom: 20px;
    background-color: black;
}
nav ul{
    margin: 20px 0 0 0;
}
/*Styling each navbar list*/
.navbar-nav li{
    padding: 10px 15px;
}

/*Styling the navbar links*/
.navbar-nav li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
}
.navbar-nav li a:hover{
    color: var(--colorRed);
}
/*******END*******STYLING THE NAVBAR*******END*******/


/*******START*******STYLING THE NAVBAR*******START*******/
/*******END*******STYLING THE NAVBAR*******END*******/
@media(min-width: 800px){

}
@media(max-width: 460px){
    .hot-topic-content h2{
        font-size: 16px;
    }
}
@media(min-width: 768px){
    .banner-sub-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 1080px){
    .banner{
        display: grid;
        grid-template-columns: repeat(1fr, 2fr);
    }
}


