{% extends 'layouts.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}<!--
    <section class="banner">
        <div class="banner-content">
            <h2>GET THE LATEST EDUCATION NEWS ACROSS AFRICA</h2>
            <h3>Africa's First & Leading Education Platform</h3>

            <button>
                <a href="#">Find Out <i class="fa fa-hand-o-right"></i></a>
            </button>

            <div class="current-news-head">
                <h3>
                    Apple Glasses: what we expect, what we think we are <span>by Nat Osei</span>
                </h3>
                <h3>
                    Mafe Girls Senior High School robotic team has won the global championship <span>by Nat Osei</span>
                </h3>
                <h3>
                    Ghanaian journalist Ridwan Karim Dini-Osman wins award for excellence in science communication <span>by Nat Osei</span>
                </h3>
                <h3>
                    Mastercard KNUST provides amenities to Kotei-Deduako Community Special School <span>by Nat Osei</span>
                </h3>
            </div>
        </div>
            <div class="banner-sub-content">
                <div class="hot-topic">
                    <img src="static/img/home/high-way.png">

                    <div class="hot-topic-content">
                        <h2>Dr Naomi Adjepong wins Best in Education at 2022 Forty Under 40 Awards</h2>
                        <h3>New Topic 1</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                </div>

                <div class="hot-topic">
                    <img src="static/img/home/img_2.jpeg">

                    <div class="hot-topic-content">
                        <h2>Dr Naomi Adjepong wins Best in Education at 2022 Forty Under 40 Awards</h2>
                        <h3>New Topic 1</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                </div>

                <div class="hot-topic">
                    <img src="static/img/home/black-star-square.jpg">

                    <div class="hot-topic-content">
                        <h2>Dr Naomi Adjepong wins Best in Education at 2022 Forty Under 40 Awards</h2>
                        <h3>New Topic 1</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                </div>

                <div class="hot-topic">
                    <img src="static/img/home/canopy-walk.jpg">

                    <div class="hot-topic-content">
                        <h2>Dr Naomi Adjepong wins Best in Education at 2022 Forty Under 40 Awards</h2>
                        <h3>New Topic 1</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                </div>
                
            </div>
    </section>

    <hr>

    <main>
        <section class="main-container-left">
            <h2>Trending Stories</h2>
            <div class="container-top-left">
                <article>
                    <img src="static/img/home/hill-view-hotel.jpg" width="500px" height="350px">

                    <div>
                        <h3>Some Heading Goes Here</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                       <a href="#">Read More<span></span></a> 
                    </div>
                </article>

                <div class="container-bottom-left">
                    <article>
                        <img src="static/img/home/Kwame_Nkrumah_Statue.jpg" width="500px" height="350px">
    
                        <div>
                            <h3>Some Heading Goes Here</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                           <a href="#">Read More<span></span></a> 
                        </div>
                    </article>

                    <article>
                        <img src="static/img/home/Independence-Day-Parade.jpeg" width="500px" height="350px">
    
                        <div>
                            <h3>Some Heading Goes Here</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                           <a href="#">Read More<span></span></a> 
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="main-container-right">
            <h2>Latest Stories</h2>
            <article>
                <div>
                    <h4>Some Heading Goes Here</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#">Read More<span></span></a> 
                </div>
                <img src="static/img/home/Sarkodie.jpg" width="500px" height="350px">
            </article>

            <article>
                <div>
                    <h4>Some Heading Goes Here</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#">Read More<span></span></a> 
                </div>
                <img src="static/img/home/forces-on-parade.jpeg" width="500px" height="350px">
            </article>

            <article>
                <div>
                    <h4>Some Heading Goes Here</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#">Read More<span></span></a> 
                </div>
                <img src="static/img/home/Asantewaa-guest-house1.jpg" width="500px" height="350px">
            </article>

            <article>
                <div>
                    <h4>Some Heading Goes Here</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#">Read More<span></span></a> 
                </div>
                <img src="static/img/home/VGMA.jpg" width="500px" height="350px">
            </article>
        </section>
    </main>
-->
<article id="popular-news">
    <div id="featured">
        <h2>Featured</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="static/img/home/hill-view-hotel.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mafe Girls Senior High School robotic team has won the global championship</h5>
                    <p>21 OCT 2022</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/img/home/black-star-square.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mastercard KNUST provides amenities to Kotei-Deduako Community Special School</h5>
                    <p>10 OCT 2022</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/img/home/Independence-Day-Parade.jpeg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Apple Glasses: what we expect, what we think we are</h5>
                    <p>11 SEPT 2022</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <div id="latest">
        <h2>Latest</h2>
        <section class="news">
            <div class="news-container">
                <img src="static/img/home/1.jpg" alt="">
                <p class="popular-news-text">Some featured news text</p>
            </div>
        </section>
        <section class="news">
            <div class="news-container">
                <img src="static/img/home/Rattray-Park.jpg" alt="">
                <p class="popular-news-text">Some featured news text</p>
            </div>
        </section>
    </div>
    <div id="our-picks">
        <h2>Our Picks</h2>
        <section class="news">
            <div class="news-container">
                <img src="static/img/home/VGMA.jpg" alt="">
                <p class="popular-news-text">Some featured news text</p>
            </div>
        </section>
        <section class="news">
            <div class="news-container">
                <img src="static/img/home/Sarkodie.jpg" alt="">
                <p class="popular-news-text">Some featured news text</p>
            </div>
        </section>
    </div>
</article>
{% endblock %}

{% block footer %}

{% endblock %}